@charset "utf-8";

#titlechart {
    height:600px;
    padding:25px;
}
.scrollContent > section {
    width:100%;
    overflow: hidden;
}

.title {
    position:absolute;
    font-size: 32px;
    font-weight: 700;
}

#animate2 {height:800px;overflow:hidden;background:Red;}
#animate2_1 {position:absolute;}
#animate2_2 {position:absolute;}
#animate2_2_info {position:absolute;}

#animate3 {
    height: 800px;
    background:yellow;
}